h1 {
	color: black;
	font-family: 'Instrument Serif', serif;
	font-size: 50px;
}

h2 {
	color: black;
	font-family: 'Instrument Serif', serif;
}
	
p {
    font-family: Helvetica, sans-serif;
    color: violet;
    font-size: 19 px;
}





section.translator {
	margin-top: 40px;
	margin-bottom: 200px;
}
#testo_input,
#testo_output {
	width: 96%;
	height: 10em;
	font-size: 24px;
}