h1 {
	color: black;
	font-family: 'Instrument Serif', serif;
	font-size: 50px;
}

h2 {
	color: black;
	font-family: 'Instrument Serif', serif;
	font-size: 25px;
	margin-top: 5%;
}

p {
    font-family: Helvetica, sans-serif;
    color: violet;
    font-size: 19px;
}

section.translator {
	margin-top: 40px;
	margin-bottom: 80px;
}
#testo_input,
#testo_output {
	width: 96%;
	height: 10em;
	font-size: 24px;
}